.main{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 5%;
    
    background-image: url('https://www.taquerialascumbres.com/static/media/background2.3fec4658.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .form_container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    
    width: 85%;
    font-size: 20px;
    border-radius: 5px;
    box-shadow:2px 2px 15px rgba(0,0,0,0.3);
    padding: 4%;
    opacity: 0.9;
  }
  
  .form-row{
    margin-bottom: 2%;
  }
  
  .form-label{
    padding-right: 2%;
  }
  
  .form_table{
    width: 80%;
    border-collapse: separate;
    border-spacing: 0 10px;
  }
  
  .form-input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    padding: 0 15px;
    padding-right: 45px;
    font-size: 20px;
    color: #fff;
  }
  
  .btn-feedback{
    border: none;
    background: linear-gradient(45deg, #164dfe, #fe0450);
    color: #fff;
    padding: 10px;
    font-size: 25px;
    
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
  
  }
  
  .btn-feedback:hover {
    background: linear-gradient(45deg, #fe0450, #164dfe);
  }
  
  .feedback-textarea {
    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    background: #181717;
    font-size: 20px;
    width: 100%;
    margin: 4px 0;
    color: #fff;
  }
  
  input:focus,
  textarea:focus {
    border: 1px solid #00fff0;
    color: #00fff0;
    transition: all 0.3s ease;
  }
  
  input:focus::placeholder,
  textarea:focus::placeholder {
    padding-left: 4px;
    color: #00fff0;
    transition: all 0.3s ease;
  }
  
  input:focus + i {
    color: #00fff0;
    transition: all 0.3s ease;
  }