.canteen-bar {
    width: 50%;
    margin: auto;
    background-color: tomato;
    align-items: center;
    padding: 2vmax;
    margin-top: 2vmax;
    border-radius: 10px;
    font-family: 'Josefin Sans', 'sans-serif';
}

.canteen-bar:hover {
    transform: translateY(-0.8vmax);
}

.canteen-list {
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.canteen-name {

    font-size: 3vmax;
    font-weight: 300;
    cursor: pointer;
}

.canteen-name>a {
    text-decoration: none;
    color: white;
}