.image {
    width:300px;
    height: 270px;
    text-align:center;
    display:block;
    object-fit:cover;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 30px;
    margin-bottom: 1px;
    margin-top: 15px;
    float:left;
  } 
  
  .details { 
      padding: 10px;
      
  }


.main_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 100vh;
}

  .card_wrapper {
    /* position: relative; */
    display : flex;
    width: 710px;
    /* height: 405px;
    padding: 90px 70px;
    margin: auto;
    margin-top: 20px; */
    background-color: #ffffff;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #777777;
    /* animation: pad 7s linear infinite forwards; */
  }
  